CONSULTOR/flows.json
[{"id":"24ffe44caadd96a7","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"f84a1662f956df54","type":"ui_form","z":"24ffe44caadd96a7","name":"","label":"form","group":"","order":0,"width":0,"height":0,"options":[{"label":"Nombre","value":"Nombre","type":"text","required":true,"rows":null}],"formValue":{"Nombre":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":270,"y":220,"wires":[[]]},{"id":"e4ef239132686387","type":"ui_button","z":"24ffe44caadd96a7","name":"Button","payload":"","topic":"","group":"","order":1,"x":450,"y":340,"wires":[["f84a1662f956df54","fadecd1f48bcba36"]]},{"id":"fadecd1f48bcba36","type":"function","z":"24ffe44caadd96a7","name":"function 1","func":"var nombre = msg.payload.nombre;\n// Realiza acciones con el nombre aquí\nmsg.payload = \"Hola, \" + nombre;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":180,"wires":[["2dabbc0e78083c78"]]},{"id":"2dabbc0e78083c78","type":"ui_text","z":"24ffe44caadd96a7","name":"Text","group":"","order":1,"format":"{{msg.payload}}","x":570,"y":260,"wires":[]}]